## Model Training
#### 1.1 Import Data and Required Packages
##### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [2]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import recall_score,precision_score, f1_score, accuracy_score , roc_auc_score,roc_curve
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import  GaussianNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression, Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV

import warnings
warnings.filterwarnings("ignore")

In [3]:
#### Import the CSV Data as Pandas DataFrame
df = df=  pd.read_csv('data/data_no_outliers.csv')
df.head(
)

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,...,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,3,7,4,26.822620,265,No,80.415295,312.494089,Good,Good,...,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949
1,3,7,4,31.944960,265,No,118.280222,284.629163,Good,Good,...,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949
2,3,7,4,28.609352,267,No,81.699521,331.209863,Good,Good,...,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949
3,5,4,4,31.377862,268,No,199.458074,223.451310,Good,Good,...,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949
4,6,4,4,24.797347,269,No,41.420153,341.489231,Good,Good,...,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949

In [4]:
df.isnull().sum()

Delay_from_due_date         0
Num_of_Delayed_Payment      0
Num_Credit_Inquiries        0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Amount_invested_monthly     0
Monthly_Balance             0
Credit_Score                0
Credit_Mix                  0
Payment_Behaviour           0
Age                         0
Annual_Income               0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Monthly_Inhand_Salary       0
Changed_Credit_Limit        0
Outstanding_Debt            0
Total_EMI_per_month         0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72755 entries, 0 to 72754
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       72755 non-null  int64
 1   Num_of_Delayed_Payment    72755 non-null  int64
 2   Num_Credit_Inquiries      72755 non-null  int64
 3   Credit_Utilization_Ratio  72755 non-null  float64
 4   Credit_History_Age        72755 non-null  int64
 5   Payment_of_Min_Amount     72755 non-null  object
 6   Amount_invested_monthly   72755 non-null  float64
 7   Monthly_Balance           72755 non-null  float64
 8   Credit_Score              72755 non-null  object
 9   Credit_Mix                72755 non-null  object
 10  Payment_Behaviour         72755 non-null  object
 11  Age                       72755 non-null  int64
 12  Annual_Income             72755 non-null  float64
 13  Num_Bank_Accounts         72755 non-null  int64
 14  Num_Credit_Card           72755 non-null  int64
 15  Interest_Rate             72755 non-null  int64
 16  Num_of_Loan               72755 non-null  int64
 17  Monthly_Inhand_Salary     72755 non-null  float64
 18  Changed_Credit_Limit      72755 non-null  float64
 19  Outstanding_Debt          72755 non-null  float64
 20  Total_EMI_per_month       72755 non-null  float64
dtypes: float64(8), int64(9), object(4)
memory usage: 11.7+ MB

### preparing X and Y variables

In [6]:
X = df.drop('Credit_Score', axis=1)
y = df['Credit_Score']

In [7]:
X.head()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Mix,Payment_Behaviour,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,3,7,4,26.822620,265,No,80.415295,312.494089,Good,High_spent_Medium_value_payments,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949
1,3,7,4,31.944960,265,No,118.280222,284.629163,Good,High_spent_Medium_value_payments,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949
2,3,7,4,28.609352,267,No,81.699521,331.209863,Good,High_spent_Medium_value_payments,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949
3,5,4,4,31.377862,268,No,199.458074,223.451310,Good,High_spent_Medium_value_payments,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949
4,6,4,4,24.797347,269,No,41.420153,341.489231,Good,High_spent_Medium_value_payments,23,19114.12,3,4,3,4,1824.843333,11.27,809.98,49.574949

In [8]:
num_features = X.select_dtypes(exclude=['object']).columns
cat_features = X.select_dtypes(include=['object']).columns

print(num_features , cat_features)

Index(['Delay_from_due_date', 'Num_of_Delayed_Payment', 'Num_Credit_Inquiries',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Amount_invested_monthly', 'Monthly_Balance', 'Age', 'Annual_Income',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Monthly_Inhand_Salary', 'Changed_Credit_Limit', 'Outstanding_Debt',
       'Total_EMI_per_month'],
      dtype='object') Index(['Payment_of_Min_Amount', 'Credit_Mix', 'Payment_Behaviour'], dtype='object')

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing._encoders import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

numeric_transformer=  StandardScaler()
cat_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ('num_feaatures', numeric_transformer, num_features),
        ('cat_features', cat_transformer, cat_features)
    ]
)

In [10]:
X = preprocessor.fit_transform(X)
X.shape

(72755, 29)

In [11]:
##Separate dataset unto train and test
from sklearn.model_selection import train_test_split
X_train ,X_test , y_train , y_test  = train_test_split(X,y,test_size = 0.2, random_state = 42)
X_train.shape , X_test.shape , y_train.shape , y_test.shape

((58204, 29), (14551, 29), (58204,), (14551,))

In [12]:
## Create Evaluation Function For model
def evaluate_model(true, predicted):
    recall = recall_score(true, predicted, average= 'weighted')
    precision = precision_score(true, predicted,average= 'weighted')
    accuracy = accuracy_score(true, predicted)
    return recall , precision , accuracy

In [ ]:
models = {

    "AdaBoostClassifier": AdaBoostClassifier(),
    "LogisticRegression": LogisticRegression(),
    "SVC": SVC(),
    "RandomForestClassifier": RandomForestClassifier(),
    "GradientBoostingClassifier":GradientBoostingClassifier(),
    "KNClassifiers":KNeighborsClassifier()
}
model_list = []
accuracy_List = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    ##make predictions using the model
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_precision,model_train_recall,accuracy = evaluate_model(y_train,y_train_pred)
    model_test_precision,model_test_recall,accuracy = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    

    
    print('Model performance for Training set')
    print("- precision: {:.4f}".format(model_train_precision))
    print("- recall: {:.4f}".format(model_train_recall))
    print("- Accuracy: {:.4f}".format(accuracy))

    print('----------------------------------')

    print('Model performance for Testing set')
    print("- precision: {:.4f}".format(model_test_precision))
    print("- recall: {:.4f}".format(model_test_recall))
    print("- Accuracy: {:.4f}".format(accuracy))

    accuracy_List.append(accuracy)
    print('*'*45)
    print('\n')

AdaBoostClassifier
Model performance for Training set
- precision: 0.6758
- recall: 0.6948
- Accuracy: 0.6724
----------------------------------
Model performance for Testing set
- precision: 0.6724
- recall: 0.6886
- Accuracy: 0.6724
*********************************************


LogisticRegression
Model performance for Training set
- precision: 0.6887
- recall: 0.6943
- Accuracy: 0.6907
----------------------------------
Model performance for Testing set
- precision: 0.6907
- recall: 0.6946
- Accuracy: 0.6907
*********************************************